PORT = 3000
SWAGGER_URL = localhost:3000
#-----------------------DB 관련 환경변수 --------------------------
DATABASE_URL = {DATABASE_URL} 
#중괄호 지우시고 URL만 넣으면 됩니다! 
#URL 양식: mysql://{사용자이름}:{비밀번호}@{DB의 IP주소}:3306/{DB이름}
#마찬가지로 URL의 {}도 지우시고 안의 값만 채워넣으시면 됩니다!
#---------------------------------------------------------------

#--------------------- GENIBIAPI 관련 환경변수 --------------------
GEMINI_API_KEY = {GENINI_API_KEY}
#마찬기지로 중괄호 지우시고 API 키 넣으시면 됩니다!
#API 키는 노션이나 개인 DM으로 보내드릴게요
#---------------------------------------------------------------